@use '../../config/config' as *;

.container-footer {
    background-color: $bg-color-black;
    color: $color-white;
    padding: 1.3em;
    line-height: 1.3em;
    font-size: 1rem;
    margin-top: 1.8em;

    &__paragraph {
        display: flex;
        width: 100%;
        justify-content: center;
        column-gap: .5em;
        margin: 0;
    }

    &__link {
        color: inherit;
    }

    &__icon {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 700px) {
    .container-footer {
        padding: 1.4em;
        line-height: 1.4em;
        font-size: 1.1rem;

        &__paragraph {
            column-gap: .55em;
        }

        &__icon {
            font-size: 1.6rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .container-footer {
        font-size: 1.14rem;

        &__paragraph {
            column-gap: .6em;
        }

        &__icon {
            font-size: 1.7rem;
        }
    }
}