<header class="container-header">
  <div class="container-main-menu">
    <app-menu></app-menu>

    <div class="container-main-menu__picture">
      <picture class="container-main-menu__list-images">
        <source
          srcset="../../../assets/images/logo-tablet.webp"
          media="(min-width: 700px)"
          loading="lazy"
          decoding="async"
          class="container-main-menu__img"
        />

        <source
          srcset="../../../assets/images/logo-desktop.webp"
          media="(min-width: 1200px)"
          loading="lazy"
          decoding="async"
          class="container-main-menu__img"
        />

        <img
          src="../../../assets/images/logo-movil.webp"
          alt=""
          loading="lazy"
          decoding="async"
          class="container-main-menu__img"
        />
      </picture>
    </div>
  </div>

  <div></div>
</header>
