<section class="container-app-component">
  <app-header></app-header>

  <main>
    <section>
      <h2>Personajes</h2>

      <swiper [config]="config">
        <ng-template *ngFor="let personaje of characters" swiperSlide>
          <app-character [info]="personaje"></app-character>
        </ng-template>
      </swiper>
    </section>

    <section>
      <h2>Series</h2>

      <swiper [config]="config">
        <ng-template *ngFor="let serie of series" swiperSlide>
          <app-serie [data]="serie"></app-serie>
        </ng-template>
      </swiper>
    </section>

    <section>
      <h2>Comics</h2>

      <swiper [config]="config">
        <ng-template *ngFor="let comic of comics" swiperSlide>
          <app-comic [data]="comic"></app-comic>
        </ng-template>
      </swiper>
    </section>
  </main>

  <app-footer class="container-app-component__footer"></app-footer>
</section>
