@use './app/config/config' as *;

body {
    font-family: $font;
    padding-top: 5em;
}

.container-swiper {

    &__wrapper {
        display: flex;
        column-gap: 1em;
        overflow: scroll;
    }
}
