@use '../../config/config' as *;

.container-options-menu {
    width: 400px;
    height: 100vh;
    background-color: $color-white;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s;

    &--show {
        transform: translateX(0);
        transition: all .5s;
    }
}

.container-main-menu {
    display: flex;
    flex-direction: column;
    row-gap: .38em;
    position: absolute;
    top: calc(((42px + 1.7em) - 23.55px) / 2);
    cursor: pointer;
    z-index: 100;
    transform: rotate(0);
    transition: all .5s;

    &--gap {
        row-gap: 0;
    }

    &__element {
        width: 30px;
        height: 3.8px;
        background-color: $color-white;
    }

    &__element--show {
        background-color: $bg-color-black;
        transition: all .5s;
    }

    &__element--first {
        transform: rotate(45deg);
    }

    &__element--third {
        transform: rotate(-45deg);
    }

    &__element--second {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .container-main-menu {
        top: calc(((52px + 1.7em) - 25.66px) / 2);
    
        &__element {
            width: 33px;
            height: 4.5px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .container-main-menu {
        top: calc(((52px + 1.8em) - 26.55px) / 2);
    
        &__element {
            width: 33px;
            height: 4.8px;
        }
    }
}