<div>
  <div class="container-main-menu">
    <div class="container-main-menu__element"></div>
    <div class="container-main-menu__element"></div>
    <div class="container-main-menu__element"></div>
  </div>

  <div class="container-options-menu">
    <nav>
      <ul class="container-options-menu__list">
        <li class="container-options-menu__element">
          <a href="#" class="container-options-menu__link"> Personajes </a>
        </li>
        <li class="container-options-menu__element">
          <a href="#" class="container-options-menu__link"> Series </a>
        </li>
        <li class="container-options-menu__element">
          <a href="#" class="container-options-menu__link"> Peliculas </a>
        </li>
        <li class="container-options-menu__element">
          <a href="#" class="container-options-menu__link"> Juegos </a>
        </li>
        <li class="container-options-menu__element">
          <a href="#" class="container-options-menu__link"> Comics </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
